/.env
/appmap.log
/DEV-NOTES
/.vscode
/Pipfile
/Pipfile.lock
/book
/agentops.log
book/1984/1984.txt
/.idx
/__pycache__
/v2.1-Navie-Review
./**.pyc

./**.pyo
/.git

src/__pycache__/tasks.cpython-311.pyc
src/__pycache__/tasks.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/config.cpython-311.pyc
src/__pycache__/agents.cpython-311.pyc
src/__pycache__/__init__.cpython-311.pyc
/__pycache__/** */
.gitignore
src/__pycache__/__init__.cpython-311.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/main.cpython-312.pyc
src/__pycache__/__init__.cpython-311.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/agents.cpython-311.pyc
src/__pycache__/config.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/main.cpython-312.pyc
src/__pycache__/tasks.cpython-311.pyc
